@font-face {
    font-family: 'MyFont';
    src: url(./Monograf/Monograf\ Regular.ttf);
}

* {
    font-family: 'MyFont';
    color: aliceblue;
    background-color: transparent;
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #232323;
}

.food-img {
    height: 300px;
    width: 500px;
}
.food-img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
    cursor: grab;
}
h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

hr {
    background: #DDA454;
    background: linear-gradient(135deg, #DDA454, #EA540F);
    height: 5px;
    border: none;
    margin-top: 10px;
    margin-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 125px auto;
    position: relative;
    top: 30px;
}


.slidesContainer {
    position: relative;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 150px;
    /* text-align: center; */
    overflow: hidden;
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 51px;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
}

.text {
    width: 35vw;
}

#next-btn, #prev-btn {
    position: relative;
    top: 40%;
    border: none;
    width: 50px;
    font-size: 2em;
    font-weight: 900;
    cursor: pointer;
}

#next-btn {
    float: right;
}